#Idea
.idea/workspace.xml

#Target build
.build/

#Very large resources
resources/materials/**/*.xcf
resources/materials/**/*.tga
resources/materials/**/*.png

#Binary
core
urchinEngineTest
urchinEngineTest.exe

#Debug files
profiler.log

#Recovery files
resources/models/_source/*.blend1
resources/models/_source/*.blend2
resources/models/_source/*.blend3
resources/models/_source/*.blend4
resources/models/_source/*.blend5
