#Idea
.idea/workspace.xml
.idea/sonarlint/issuestore/

#Target build
.build/

#Large resources
# - None

#Binary
core
urchinEngineTest
urchinEngineTest.exe

#Debug files
profiler.log

#Recovery files
resources/models/_source/*.blend1
resources/models/_source/*.blend2
resources/models/_source/*.blend3
resources/models/_source/*.blend4
resources/models/_source/*.blend5
